body {
  font-family: Arial;
  background: white;
  color: black;
  transition: all 0.3s ease;
}

body.dark {
  background: #121212;
  color: white;
}

.container {
  text-align: center;
  margin-top: 100px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}
